$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1, .jumbotron h2 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ddd;
  text-decoration: none;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge {
  color: #fff;
  text-decoration: none;
}

.theme {
  background-color: #073B15;
  color: white;
  text-decoration: none;
}

.panel-footer {
  margin-top: 40px;
}